*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
}

#header{
	width: 100%;
	height: 50%;
    background-color: #333;
}

	#header #logo{
		width: 16%;
		float: left;
	}
	
		#logo #image{
			float: left;
			width: 47px;
		}

			#logo #image img{
				transition: all 1.5s easy-out;
				-moz-transition: all 1.5s easy-out;
				-webkit-transition: all 1.5s easy-out;
			}
			#logo #image img:hover{
				;
			}

		#logo #gname{
			float: right;
			width: auto;
			padding-top: 10px;
			z-index: 1;
		}

			#gname #name{
				font-family: Copperplate, Rockwell, Lucida Sans Typewriter, Arial, sans-serif;
				font-weight: 700;
				color: #666;
				border-left: 1px solid #666;
				padding-left: 1px;
			}

	#header #menu_ngang{
		width: 50%;
		float: right;
	}

		#menu_ngang ul{
			list-style-type: none;
			text-align: right;
		}

			#menu_ngang ul li{
				display: inline-table;
				line-height: 50%;
				border-right: 1px ridge #ADA8A6;
			}

			#menu_ngang ul li a{
				transition: all 0.5s;
	           -moz-transition: all 0.5s;
	           -webkit-transition: all 0.5s;
			}
			#menu_ngang ul .icon img:hover{
				transform: rotate(80deg);
				-moz-transform: rotate(80deg);
				-webkit-transform: rotate(80deg);
			}



.row #comment form textarea{
	background-color: #DED9D9;
	border: 2px solid #777;
	border-radius: 2px;
}
.row #comment form textarea:focus{
	background-color: white;
}

#comment form input{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.42857;
    text-align: center;
    border-radius: 5px;
    margin: 4px;
    box-shadow: 1px 1px 5px #888888;
    padding: 5px;
}
#comment form input:focus{
	border: 2px solid #E3D8D8;
}

#footer{
	height: 10%;
    background-color: #333;
    margin: 0 auto;
    padding-bottom: 0;
    text-align: center;
    clear: both;
    padding-bottom: 0;
}